
body {
    background: #000000;
    }
.text {
    text-align: center;
    color: #ffffff;
}
.center{
     text-align: center;
}
.insta{
    color:white;
    font-size: 17px;
}
 .wrapper{
    text-align: center;
 }