
        * {
            box-sizing: border-box;
        }

        body {
            background: #000000;
        }

        .row {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            padding: 0 4px;
            text-align: center;
        }
        .row:before, .row:after {display: inline-block !important;}

        .images {
            padding: 30px 40px
        }

        /* Create two equal columns that sits next to each other */
        .column {
            -ms-flex: 50%;
            flex: 50%;
            padding: 0 4px;
        }

        .column img {
            margin-top: 8px;
            vertical-align: middle;
        }
