        /* Styling carousel components*/
        .carousel-item {
            max-height: 100vh;
            /*CHANGE IT TO MAX-HEIGHT INSTEAD OF JUST HEIGHT*/
            min-height: 100px;
            /*CHANGE IT TO MAX-HEIGHT INSTEAD OF JUST HEIGHT*/
            background: no-repeat center center scroll;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        REMOVE THIS TO MAKE IT FLEXIBLE

        /*CAROUSEL CAPTION STYLE*/
        .carousel {
            margin-bottom: 4rem;
        }

        .carousel-item {
            max-height: 100vh;
            /*CHANGE IT TO MAX-HEIGHT INSTEAD OF JUST HEIGHT*/
        }

        .carousel-item>img {
            position: absolute;
            top: 0;
            left: 0;
            min-width: 100%;
            height: 100vh;
        }

        .carousel-caption {
            bottom: 3rem;
            z-index: 10;
            text-shadow: rgb(12, 12, 12) 0px 0px 15px;
        }

        /*NAVBAR STYLE*/
        .dropdown-menu {
            background-color: #e7e7e7;
        }

        .dropdown-menu .dropdown-item:hover {
            background-color: #d35536;
            color: #e6e6e6;
        }

        .dropdown-menu .dropdown-item:active {
            background-color: #d35536;
        }

        .navbar-dark .navbar-brand {
            color: #ffffff;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 13px;
            letter-spacing: 2px;
        }

        .navbar-dark .navbar-brand:focus,
        .navbar-dark .navbar-brand:hover {
            color: #b4b4b4
        }

        .navbar-dark .navbar-nav .active>.nav-link,
        .navbar-dark .navbar-nav .nav-link.active,
        .navbar-dark .navbar-nav .nav-link.show,
        .navbar-dark .navbar-nav .show>.nav-link {
            color: #e6e6e6;
            text-transform: uppercase;
            font-weight: bold;
        }

        .navbar-dark .navbar-nav .nav-link {
            color: #ABACAB;
            text-transform: uppercase;
            font-weight: bold;
        }

        .navbar-dark .navbar-nav .nav-link:focus,
        .navbar-dark .navbar-nav .nav-link:hover {
            color: #f5f5f5;
        }

        .navbar-dark .navbar-nav .active>.nav-link,
        .navbar-dark .navbar-nav .nav-link.active,
        .navbar-dark .navbar-nav .nav-link.show,
        .navbar-dark .navbar-nav .show>.nav-link {
            color: #f5f5f5;
        }

        .bg-dark.scrolled {
            background-color: #242729 !important;
        }

        /*CONTENT PAGE LAYOUT STYLE*/
        .product h1 {
            font-family: Gotham Narrow A, Gotham Narrow B, Arial, sans-serif;
            font-weight: 400;
        }

        .product .col-lg-4 {
            margin-bottom: 1.5rem;
            text-align: center;
        }

        .product .row h2 {
            font-weight: 400;
        }

        /*ABOUT SECTION STYLE*/
        .about .col-lg-4 {
            margin-bottom: 1.5rem;
            text-align: center;
        }

        .about h2 {
            font-weight: 400;
        }

        .about .col-lg-4 p {
            margin-right: .75rem;
            margin-left: .75rem;
        }

        .about .col-lg-12 p {
            margin-bottom: 3.125rem;
        }

        .about h1 {
            margin-top: 3.125rem;
            margin-bottom: 3.125rem;
        }

        /* Product Video header css */
        section {
            position: relative;
            background-color: black;
            height: 80vh;
            min-height: 25rem;
            width: 100%;
            overflow: hidden;
        }

        section video {
            position: absolute;
            top: 50%;
            left: 50%;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            z-index: 0;
            -ms-transform: translateX(-50%) translateY(-50%);
            -moz-transform: translateX(-50%) translateY(-50%);
            -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
        }

        section .container {
            position: relative;
            z-index: 2;
        }

        section .overlay {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: black;
            opacity: 0.5;
            z-index: 1;
        }

        section .container .w-100 .display-2 {
            font-family: "RolexFont";
            letter-spacing: .05em;
            font-weight: 400;
            font-weight: var(--weight-regular);
            text-shadow: rgb(12, 12, 12) 0px 0px 15px;
        }

        /*HEADER IMAGE FOR OTHER PAGESs*/
        .masthead {
            max-height: 600px;
            min-height: 400px;
            background-image: url('../pictures/masthead.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .masthead .container h1 {
            font-size: 60px;
        }

        .cartheader {
            max-height: 600px;
            min-height: 400px;
            background-image: url('../pictures/DSC_3901_e.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        /* .glamheader {
            max-height: 600px;
            min-height: 400px;
            background-image: url('../pictures/DSC_8254.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        } */

        .zaloraheader {
            max-height: 600px;
            min-height: 400px;
            background-image: url('../pictures/DSC_1356.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .hersheader {
            max-height: 600px;
            min-height: 400px;
            background-image: url('../pictures/DSC_4136.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .linerheader {
            max-height: 600px;
            min-height: 400px;
            background-image: url('../pictures/DSC_3903.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        /* .carheader {
            max-height: 600px;
            min-height: 400px;
            background-image: url('../pictures/DSC_1187.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        } */

        .SBheader {
            max-height: 600px;
            min-height: 400px;
            background-image: url('../pictures/DSC_3236.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        /* .ohheader {
            max-height: 600px;
            min-height: 400px;
            background-image: url('../pictures/DSC_0631.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        } */

        .qwheader {
            max-height: 600px;
            min-height: 400px;
            background-image: url('../pictures/125A2484.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .krosheader {
            max-height: 600px;
            min-height: 400px;
            background-image: url('../pictures/DSC_4536.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .kanheader {
            max-height: 600px;
            min-height: 400px;
            background-image: url('../pictures/DSC_3958_e.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .popheader {
            max-height: 600px;
            min-height: 400px;
            background-image: url('../pictures/DSC_3670.JPG');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .ballheader {
            max-height: 600px;
            min-height: 400px;
            background-image: url('../pictures/DSC_3467.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .createheader {
            max-height: 600px;
            min-height: 400px;
            background-image: url('../pictures/DSC_7254.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }